@page "/improvements"

<Rows>
    <Panel Title="To-Do Improvements" Border="BoxBorder.Rounded" Expand="true" BorderColor="@Color.Green">
            <Rows>
                <Markup Content="General List:" Decoration="@Decoration.Bold" />
                <ul>
                    <li>Setup WSL to run this on Windows, rather than powershell</li>
                    <li>Move SelectedNavTab to GlobalState to allow better routing maybe</li>
                    <li>Change GitStatusPanel to reflect git sync status rather than repo local changes</li>
                    <li>Try have intial github CLI calls occur post-render, might speed up first build load</li>
                    <li>Improve / refactor GitHubService, this service shuold be designed around gh CLI commands</li>
                    <li>Refactor the PullRequestsPanel.razor process of fetching open PRs and LoadStatuses, loading is fine</li>
                    <li>Check the ComandService refactor didnt actully make things worse</li>
                    <li>Refactor GitHubService - GetRepoPullRequests() method, it is terrible along with the PrLoadStatus class</li>
                </ul>
                <Newline />
            </Rows>
            <Rows>
                <Markup Content="Repo List:" Decoration="@Decoration.Bold" />
                <ul>
                    <li>Figure out solution for WSL directories</li>
                    <li>Continue Repo components: health and release panels probs first</li>
                    <li>Repo Commits chart could be a BarChart / BreakdownChart / StepChart / ChartSeries</li>
                    <li>Add repo health check status onto repo details, emoji to show good or bad</li>
                    <li>Repo-specifc utils could be under Repo Quick Actions maybe</li>
                </ul>
                <Newline />
            </Rows>
            <Rows>
                <Markup Content="Utility List:" Decoration="@Decoration.Bold" />
                <ul>
                    <li>Proper confirmation dialogs before execution (when needed dependin on util config)</li>
                    <li>Split Utilites.razor into sub components</li>
                    <li>Figure out some useful util scripts</li>
                    <li>Repo-specific util scripts maybe? e.g. 'task dev' on 'ignite' repo</li>
                        <li>Check note on repo list</li>
                </ul>
                <Newline />
            </Rows>
    </Panel>
</Rows>